/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f1f1f;
} */
:root{
  background-color: #3a3939;
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100%;
  width: 100%;
}



